/* Write your CSS code here. */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffeeee, #ffc0bb);
}

.container {
  font-family: 'Roboto';
  border-radius: 6px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 20px;
  text-align: center;
}

.emojis-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.each-emoji-container {
  cursor: pointer;
  margin: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}

.image {
  height: 50px;
  width: 50px;
}

.para {
  font-size: 14px;
  color: #1e293b;
}
